<div class="container mx-auto p-3 text-sm typography">
  <h3 class="text-emerald-500 text-sm mt-2">Borders</h3>
  <div class="border border-gray-900 p-1 text-sm flex item-start flex-row space-x-1">
    <div class="p-1 border border-gray-600 text-blue-400">
      Generic content with a standard border -> border border-gray-600
    </div>
    <div class="p-1 border-2 border-gray-600 text-blue-400">
      Generic content with a standard border thickness-> border-2 border-gray-600
    </div>
    <div class="p-1 border-4 border-gray-600 text-blue-400">
      Generic content with a standard border thickness-> border-4 border-gray-600
    </div>
    <div class="p-1 border-2 border-gray-600 border-dotted text-blue-400">
      Generic content with a standard border thickness and with pattern (dotted)-> border-4 border-gray-600 border-dotted
    </div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Border on x, y, top & bottom</h3>
  <div class="border border-gray-900 p-1 text-sm flex item-start flex-row space-x-1">
    <div class="p-1 border-x-4 border-gray-600 text-blue-400">
      Generic content with a border on the x-> border-x-4 border-gray-600
    </div>
    <div class="p-1 border-y-4 border-gray-600 text-blue-400">
      Generic content with a border on the y-> border-y-4 border-gray-600
    </div>
    <div class="p-1 border-t-4 border-gray-600 text-blue-400">
      Generic content with a border only on top -> border-t-4 border-gray-600
    </div>
    <div class="p-1 border-b-4 border-gray-600 text-blue-400">
      Generic content with a border only on bottom -> border-b-4 border-gray-600
    </div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Border Radius</h3>
  <div class="border border-gray-900 p-2 text-sm flex item-start flex-row space-x-1 ">
    <div class="p-1 border-2 border-gray-600 rounded text-blue-400">
      Generic content with a border radius ->border-2 border-gray-600 rounded
    </div>
    <div class="p-1 border-2 border-gray-600 rounded-lg text-blue-400">
      Generic content with a border radius rounded to lg->border-2 border-gray-600 rounded-lg
    </div>
    <div class="p-1 border-2 border-gray-600 rounded-t-lg text-blue-400">
      Generic content with only top border radius rounded to lg->border-2 border-gray-600 rounded-lg
    </div>
    <div class="p-1 border-2 border-gray-600 rounded-br-lg text-blue-400">
      Generic content with only bottom right border radius rounded to lg->border-2 border-gray-600 rounded-br-lg
    </div>
    <div class="p-4 border-2 border-gray-600 rounded-full text-blue-400">
      Generic content with all border radius rounded to lg->border-2 border-gray-600 rounded-br-lg
    </div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Outline</h3>
  <div class="border border-gray-900 p-1 text-sm flex item-start flex-row space-x-1">
    <div class="p-1 outline-2 outline-offset-2 outline-yellow-600 text-blue-400 outline-dashed">
      Generic content with a standard outline with color and pattern(dashed) -> outline-4 outline-offset-2 outline-gray-600 outline-dashed
    </div>
  </div>
</div>