<div class="container mx-auto p-3 text-sm typography">
  <h3 class="text-emerald-500 text-sm">Font types</h3>
  <div class="border border-gray-900 p-2 text-sm">
    <div class="text-slate-700 p-1 mt-1 font-sans"> Font is of type Sans</div>
    <div class="text-slate-700 p-1 mt-1 font-serif"> Font is of type Serif</div>
    <div class="text-slate-700 p-1 mt-1 font-mono"> Font is of type Mono</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Font Sizes</h3>
  <div class="border border-gray-900 p-2 text-sm">
    <div class="text-slate-700 p-1 mt-1 font-sans text-xs"> Check font size classes - Extra Small-> text-xs</div>
    <div class="text-slate-700 p-1 mt-1 font-sans text-sm"> Check font size classes - Small-> text-sm</div>
    <div class="text-slate-700 p-1 mt-1 font-sans text-base"> Check font size classes - Base-> text-base</div>
    <div class="text-slate-700 p-1 mt-1 font-sans text-lg"> Check font size classes - Large-> text-lg</div>
    <div class="text-slate-700 p-1 mt-1 font-sans text-xl"> Check font size classes - Extra Large-> text-xs</div>
    <div class="text-slate-700 p-1 mt-1 font-sans text-2xl"> Check font size classes - 2X Large-> text-xs</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Font Weight</h3>
  <div class="border border-gray-900 p-2 text-sm">
    <div class="text-slate-700 p-1 mt-1 font-sans font-light"> Check font weight classes - Light-> font-light</div>
    <div class="text-slate-700 p-1 mt-1 font-sans font-normal"> Check font weight classes - Normal-> font-normal</div>
    <div class="text-slate-700 p-1 mt-1 font-sans font-medium"> Check font weight classes - Medium-> font-medium</div>
    <div class="text-slate-700 p-1 mt-1 font-sans font-semibold"> Check font weight classes - Semi bold-> font-semibold</div>
    <div class="text-slate-700 p-1 mt-1 font-sans font-bold"> Check font weight classes - Bold-> font-bold</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Letter Spacing</h3>
  <div class="border border-gray-900 p-2 text-sm">
    <div class="text-slate-700 p-1 mt-1 font-sans tracking-light"> Check character spacing-> tracking-light </div>
    <div class="text-slate-700 p-1 mt-1 font-sans tracking-normal"> Check character spacing-> tracking-normal</div>
    <div class="text-slate-700 p-1 mt-1 font-sans tracking-wide"> Check character spacing-> tracking-wide</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Text Alignment</h3>
  <div class="border border-gray-900 p-2 text-sm">
    <div class="text-slate-700 p-1 mt-1 font-sans text-left"> Check text alignment to left -> text-left </div>
    <div class="text-slate-700 p-1 mt-1 font-sans text-center"> Check text alignment to center -> text-center</div>
    <div class="text-slate-700 p-1 mt-1 font-sans text-right"> Check text alignment to right -> text-right</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Text Decoration</h3>
  <div class="border border-gray-900 p-2 text-sm">
    <div class="text-slate-700 p-1 font-sans underline decoration-4 decoration-blue-400"> Check text decoration with color and thicker line -> underline decoration-4 decoration-blue-400 </div>
    <div class="text-slate-700 p-1 font-sans underline decoration-double"> Check text decoration -> underline decoration-double </div>
    <div class="text-slate-700 p-1 font-sans underline decoration-dotted"> Check text decoration -> underline decoration with dotted line </div>
    <div class="text-slate-700 p-1 font-sans underline decoration-wavy"> Check text decoration -> underline decoration with wavy line </div>
    <div class="text-slate-700 p-1 font-sans underline decoration-2 decoration-orange-400 underline-offset-4"> Check text decoration with color and thicker line with a small offset gap between text and underline-> underline decoration-4 decoration-blue-400 </div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-2">Text Transformation</h3>
  <div class="border border-gray-900 p-2 text-sm">
    <div class="text-slate-700 p-1 font-sans normal-case">Text presented normally -> normal-case</div>
    <div class="text-slate-700 p-1 font-sans uppercase">Text presented in uppercase -> uppercase</div>
    <div class="text-slate-700 p-1 font-sans lowercase">Text presented in lower case -> normal-case</div>
    <div class="text-slate-700 p-1 font-sans capitalize">Text presented with first letter capitalized -> capitalize</div>
  </div>

</div>