<div class="container mx-auto p-3 text-sm responsive">
  <div class="text-slate-700 p-2 mt-1 border rounded-sm mt-2">
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Flex Box - Default (Row)</h3>
    <div class="py-2 pl-2">
      The default layouting in case of FLEX is flex row (flex-row). Which could be changed to column layouting
      using flex-col class.The elements cover the complete height of the container.
    </div>
    <div class="flex h-24 bg-slate-200">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
  </div>
  <div class="text-slate-700 p-2 mt-1 border rounded-sm mt-2">
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Flex Box - Default (Row) & Align items</h3>
    <div class="py-2 pl-2 mt-2">
      By default the items are aligned as stretched (items-stretch) as seen above. This scenario is where
      items are align to start (items-start)
    </div>
    <div class="flex h-24 bg-slate-200 items-start">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
    <div class="py-2 pl-2 mt-2">
      This scenario is where items are align to center (items-center)
    </div>
    <div class="flex h-24 bg-slate-200 items-center">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
    <div class="py-2 pl-2 mt-2">
      This scenario is where items are align to center (items-end)
    </div>
    <div class="flex h-24 bg-slate-200 items-end">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
  </div>
  <div class="text-slate-700 p-2 mt-1 border rounded-sm mt-2">
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Flex Box - Default (Row) & Justify items</h3>
    <div class="py-2 pl-2 mt-2">
      This scenario is where items are align to center and justified to center (justify-center)
    </div>
    <div class="flex h-24 bg-slate-200 items-center justify-center">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
    <div class="py-2 pl-2 mt-2">
      This scenario is where items are align to center and justified to start (justify-start)
    </div>
    <div class="flex h-24 bg-slate-200 items-center justify-start">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
    <div class="py-2 pl-2 mt-2">
      This scenario is where items are align to center and justified to end (justify-end)
    </div>
    <div class="flex h-24 bg-slate-200 items-center justify-end">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
    <div class="py-2 pl-2 mt-2">
      This scenario is where items are align to center and space is justified around them (justify-around)
    </div>
    <div class="flex h-24 bg-slate-200 items-center justify-around">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
    <div class="py-2 pl-2 mt-2">
      This scenario is where items are align to center and space is justified between them (justify-between)
    </div>
    <div class="flex h-24 bg-slate-200 items-center justify-between">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
  </div>

  <div class="text-slate-700 p-2 mt-1 border rounded-sm mt-2">
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Flex Box - Column with Justify items & Aligned</h3>
    <div class="py-2 pl-2 mt-2">
      The elements are arranged in flex-col layout.
      This scenario is where items are align to center(items-center) and justified to center (justify-center).
      Also with a small gap between items added using (gap-2)
    </div>
    <div class="flex flex-col h-72 bg-slate-200 items-center justify-center gap-2">
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 1</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 2</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 3</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 4</div>
      <div class="bg-blue-100 border border-blue-400 p-3">This the box - 5</div>
    </div>
  </div>
</div>
