<div class="border-1 border-slate-300 m-5 p-10">
  <div class="font-primary text-md flex flex-col-reverse md:flex-row justify-between border-b-2 border-slate-300 mb-3">
    <div class="w-full md:w-[80%] p-2 text-center md:text-left">
      <h4> About Me </h4>
      <div class="py-2 px-3">I am a IT Professional with an experience of over 16+ years, primarily into developing user interface for various clients and using various font end technologies. My strength being to work with multiple teams across various regions, plan and strategize the work and being able to coordinate and deliver the work seamlessly. <br/> I have worked as a senior UI lead and architect. Worked with the teams for requirement analysis, design, development, code review and quality. Have been responsible for requirement gap analysis and transforming the functional specs into technical specs. My other roles have been of collaboration with the BA, PO and the UX team to understand, analyze and implement features based on the business needs. I was involved in working to implement performance improvement techniques from the UI perspective.
      </div>
    </div>
    <div class="p-1 mx-auto">
      <div class="pt-5">
        <img src="https://media.licdn.com/dms/image/v2/D5635AQE5sfbZhJ9UYQ/profile-framedphoto-shrink_100_100/B56ZUYF56nHsAo-/0/1739865956420?e=1745557200&v=beta&t=QKBChJ8gorn0s3wdBmXJfqZTsMYCugQuQnkrt4E0aSU" class="h-45 w-45 rounded-full border-1">
      </div>
    </div>
  </div>
  <div class="font-primary mt-10 flex flex-col md:flex-row">
    <div class="w-full md:w-1/2 p-2 text-center md:text-left border-r-0 md:border-r-2 border-slate-300">
      <h4> Skills </h4>
      <div>
        <ul class="pl-5 list-disc">
          <li class="text-left">Extensive knowledge with hands-on experience on Client/Server and Web, Windows-based applications using UI frameworks – Angular 12 / 13 /14, JavaScript, HTML, SCSS, Bootstrap, Angular Material, jQuery, and AJAX
          </li>
          <li class="text-left">Mobile UI Frameworks - IONIC 3</li>
          <li class="text-left">UI testing - Karma, Jasmine</li>
          <li class="text-left">UI E2E testing, Cypress</li>
          <li class="text-left">Code Version Controllers - Git, SVN, Clear Case</li>
          <li class="text-left">Technical leadership</li>
          <li class="text-left">Team performance management</li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-1/2 p-2">
      <div class="mb-6">
        <h4 class="bg-slate-500 text-white pl-3"> Education </h4>
        <div class="font-bold text-sm my-2">SDM College of Engineering & Technology - Dharwad, KA | Bachelor of Engineering - (2000 - 2004)</div>
      </div>
      <div class="border-b-0 md:border-b-2 border-slate-300">
        <h4 class="bg-slate-500 text-white pl-3"> Social Networks, Websites and References </h4>
        <div class="text-sm my-2">
          <span class="inline-block mr-3">Linked In:</span><span class="text-blue-400">https://www.linkedin.com/in/abhishek-shekara-shetty</span>
        </div>
        <div class="text-sm my-2">
          <span class="inline-block mr-3">GitHub:</span><span class="text-blue-400">https://github.com/shettyabhishek</span>
        </div>
        <div class="text-sm my-2">
          <div> Wesbites </div>
          <div class="pl-5">
            <span class="inline-block mr-3">AWS :</span><span class="text-blue-400">http://learnaws.abhis3.com.s3-website-ap-southeast-2.amazonaws.com/home</span>
          </div>
          <div class="pl-5">
            <span class="inline-block mr-3">Netlify :</span><span class="text-blue-400">https://ilearnmysite.netlify.app/home</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
