<div class="flex justify-center items-start min-h-screen bg-cyan-100">
  <div class="flex flex-col space-y-2 md:space-y-0 bg-white min-w-100 md:min-w-350 p-2 m-2 md:m-20 md:p-15 shadow-2xl rounded-lg">
    <!-- Creating the main menu-->
    <div class="flex flex-col md:flex-row md:justify-end">
      <div class="group">
        <a class="inline-block p-2 min-w-full md:min-w-30 text-center
        group-hover:cursor-pointer group-hover:border-b-2 group-hover:border-slate-400 group-hover:bg-slate-200
        text-sm text-slate-500
        ">Vector</a>
      </div>
      <div class="group">
        <a class="inline-block p-2 min-w-full md:min-w-30 text-center
        group-hover:cursor-pointer group-hover:border-b-2 group-hover:border-slate-400 group-hover:bg-slate-200
        text-sm text-slate-500
        ">Illustrations</a>
      </div>
      <div class="group">
        <a class="inline-block p-2 min-w-full md:min-w-30 text-center
        group-hover:cursor-pointer group-hover:border-b-2 group-hover:border-slate-400 group-hover:bg-slate-200
        text-sm text-slate-500
        ">Images</a>
      </div>
      <div class="group">
        <a class="inline-block p-2 min-w-full md:min-w-30 text-center
        group-hover:cursor-pointer group-hover:border-b-2 group-hover:border-slate-400 group-hover:bg-slate-200
        text-sm text-slate-500
        ">Icons</a>
      </div>
    </div>
    <!-- Creating the search and upload bar-->
    <div class="flex flex-col md:flex-row space-y-2 justify-between md:space-y-0 mt-5">
      <div class="flex flex-row border-b-2 border-slate-300 search-box">
        <input type="text" placeholder="Search..." class="placeholder:text-sm py-2 pl-1 min-w-100"/>
        <svg class="w-5 h-5" fill="#dad8d8" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 488.4 488.4" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6 s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2 S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7 S381.9,104.65,381.9,203.25z"></path> </g> </g> </g></svg>
      </div>
      <button class="text-sm bg-slate-800 px-2 py-1 min-w-full md:min-w-25 rounded-sm text-slate-300 hover:bg-zinc-400 hover:text-white hover:cursor-pointer">Upload</button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-1 mt-4 w-3/4 mx-auto">
      <div class="bg-slate-100 border border-slate-400">
        <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      </div>
      <div class="bg-slate-100 border border-slate-400">
        <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      </div>
      <div class="bg-slate-100 border border-slate-400">
        <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      </div>
      <div class="bg-slate-100 border border-slate-400">
        <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      </div>
      <div class="bg-slate-100 border border-slate-400">
        <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      </div>
      <div class="bg-slate-100 border border-slate-400">
        <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      </div>
      <div class="bg-slate-100 border border-slate-400">
        <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
      </div>
    </div>
  </div>
</div>