<div class="smpl-one-wbpg p-10 md:pt-20 font-webpgsec max-w-8xl mx-auto border-1 border-slate-200">

  <!-- Hero section-->
  <section class="text-center">
    <svg viewBox="0 0 16 16" class="w-20 h-20 mx-auto" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16L3.54223 12.3383C1.93278 11.0162 1 9.04287 1 6.96005C1 3.11612 4.15607 0 8 0C11.8439 0 15 3.11612 15 6.96005C15 9.04287 14.0672 11.0162 12.4578 12.3383L8 16ZM3 6H5C6.10457 6 7 6.89543 7 8V9L3 7.5V6ZM11 6C9.89543 6 9 6.89543 9 8V9L13 7.5V6H11Z" fill="#bc6767"></path> </g></svg>
    <h3 class="header-class">Cosmic Diner</h3>
    <div class="sub-content-section">
      The flickering neon sign of the "Cosmic Diner" cast an eerie glow across the rain-slicked street. Inside, a lone robot busboy hummed a discordant tune as it polished the chrome countertop.
    </div>
    <div class="button-container">
      <button class="bg-cyan-400 rounded-full px-3 py-3 duration-400 hover:bg-cyan-600 hover:cursor-pointer  text-white mr-2 w-full md:w-50">Download on IOS</button>
      <button class="bg-blue-400 rounded-full px-3 py-3 duration-400 hover:bg-blue-600 hover:cursor-pointer text-white w-full md:w-50">Download on Android</button>
    </div>
  </section>

  <!-- sub-section -->
  <section class="text-center">
    <h3 class="header-class">Rendezous</h3>
    <div class="sub-content-section">
      The kaleidoscopic cacophony of crickets chirping carried on the crisp, cool breeze. A lone, rusty bicycle leaned precariously against a weathered oak, its tires whispering silent secrets of forgotten adventures. Suddenly, a gaggle of geese, honking with unparalleled audacity, waddled across the cobblestone path, disrupting the tranquility and reminding us that even in the most idyllic settings, chaos reigns supreme.
    </div>
  </section>

  <!-- sub-section with image -->
  <section class="text-center mt-5 md:mt-12">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/2 border-1 bg-blue-200">
        <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      </div>
      <div class="flex flex-col w-full md:w-1/2 text-center mt-5 md:mt-0">
        <div class="text-slate-700 pt-2 pb-3 md:p-10 text-md">
          <h4 class="md:text-slate-300">Humming Bird</h4>
          <div>The iridescent hummingbird, a blur of emerald and sapphire, zipped past the overgrown lavender bush, momentarily disrupting the meticulous calculations scribbled in Professor Eldridge's notebook.</div>
        </div>
        <div class="text-slate-700 pt-2 pb-3 md:p-10 text-md">
          <h4 class="md:text-slate-300">Aetherium Bloom</h4>
          <div>He sighed, adjusting his spectacles. This quest for the fabled "Aetherium Bloom", a flower said to amplify psychic abilities, was proving more challenging than anticipated. Just this morning, his robotic terrier, Bartholomew, had short-circuited attempting to climb a particularly treacherous oak tree.</div>
        </div>
        <div class="text-slate-700 pt-2 pb-3 md:p-10 text-md">
          <h4 class="md:text-slate-300">Earl Grey</h4>
          <div>Perhaps a cup of Earl Grey and a renewed focus on the theoretical properties of quantum entanglement were in order. After all, the fate of the Global Psychic Harmony Initiative might just depend on it.</div>
        </div>
      </div>
    </div>
  </section>

  <!-- sub-section -->
  <section class="text-center flex flex-col mt-5 md:mt-12">
    <h3 class="header-class">Universe</h3>
    <div class="sub-content-section">
      The clock ticked with agonizing slowness, each second echoing in the cavernous silence of the abandoned observatory. Dust motes danced in the single ray of sunlight slicing through a crack in the boarded-up window, illuminating forgotten instruments and constellations charted long ago. A lone spider meticulously spun its web in the corner, seemingly oblivious to the weight of history and the secrets whispered by the rusting gears. The wind howled outside, a mournful symphony carried on the wings of a gathering storm, threatening to tear the crumbling structure from its foundations and return it to the earth from whence it came. Just another Tuesday, perhaps, for the universe.
    </div>
    <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" class="w-full md:w-1/2 mx-auto mt-5 md:mt-12 border-1 border-slate-600"/>
  </section>
</div>