.smpl-one-wbpg{
  background: url('https://images.unsplash.com/photo-1530569673472-307dc017a82d?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size:cover;
}
.marked-tick{
  top: 50%;
  left: 50%
}