<div class="container mx-auto p-3 text-sm responsive">
  <div class="text-slate-700 p-2 mt-1 border rounded-sm">
    <h3 class="text-lg bg-gray-200 px-2 py-1">Based on the width of the screen the classes/styles can be applied to the components.</h3>
    <div class="text-md">Observe the background color of the below section change based on the change of size of window.
    </div>
    <p class="my-1 p-2 bg-slate-200 rounded-sm sm:bg-slate-400 sm:text-yellow-400 md:bg-slate-600 lg:text-yellow-600 lg:bg-slate-800 lg:text-yellow-800">
      Breakpoint classes<br/>
      sm 640px &#64;media &#40;min-width: 640px&#41; &#123;	.....&#125;<br/>
      md 768px &#64;media &#40;min-width: 768px&#41; &#123;	.....&#125;<br/>
      lg 1024px &#64;media &#40;min-width: 1024px&#41; &#123;	.....&#125;<br/>
      xl 1280px &#64;media &#40;min-width: 1280px&#41; &#123;	.....&#125;<br/>
      2xl 1536px &#64;media &#40;min-width: 1536px&#41; &#123;	.....&#125;<br/>
    </p>
    <div>Current width: {{currentWidth}}px</div>
  </div>

  <div class="text-slate-700 p-2 mt-1 border rounded-sm mt-2">
    <div>Column Layouting - Showing images based on column sizing / column count</div>
    <!--h3 class="text-lg bg-gray-200 px-2 py-1 text-md">Columns Layout - One Column -> columns-1 </h3>
    <div class="columns-1">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
    </div-->
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Three Column -> columns-3 </h3>
    <div class="columns-3">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
    </div>
    <!--h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Four Column -> columns-4 </h3>
    <div class="columns-4">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
    </div-->
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Five Column -> columns-5 </h3>
    <div class="columns-5">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
    </div>
    <!--h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Six Column -> columns-6 </h3>
    <div class="columns-6">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
    </div>
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Seven Column -> columns-7 </h3>
    <div class="columns-7">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
    </div-->
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Eight Column -> columns-8 </h3>
    <div class="columns-8">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/8.jpeg" alt="8.jpeg">
    </div>
    <!--h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Nine Column -> columns-9 </h3>
    <div class="columns-9">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/8.jpeg" alt="8.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/9.jpeg" alt="9.jpeg">
    </div>
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Ten Column -> columns-10 </h3>
    <div class="columns-10">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/8.jpeg" alt="8.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/9.jpeg" alt="9.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/10.jpeg" alt="10.jpeg">
    </div>
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Eleven Column -> columns-11 </h3>
    <div class="columns-11">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/8.jpeg" alt="8.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/9.jpeg" alt="9.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/10.jpeg" alt="10.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/11.jpeg" alt="11.jpeg">
    </div-->
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout - Twelve Column -> columns-12 </h3>
    <div class="columns-12">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/8.jpeg" alt="8.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/9.jpeg" alt="9.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/10.jpeg" alt="10.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/11.jpeg" alt="11.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/12.jpeg" alt="12.jpeg">
    </div>
  </div>

  <div class="text-slate-700 p-2 mt-1 border rounded-sm mt-2">
    <div>Column Layouting - With column gap classes</div>
    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout with 7 columns & gap to be 0 - columns-12 gap-0</h3>
    <div class="columns-7 gap-0">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
    </div>

    <h3 class="text-lg bg-gray-200 px-2 py-1 text-md mt-2">Columns Layout with 7 columns & gap to be 1 - columns-12 gap-1</h3>
    <div class="columns-7 gap-1">
      <img src="https://api.slingacademy.com/public/sample-photos/1.jpeg" alt="1.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/2.jpeg" alt="2.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/3.jpeg" alt="3.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/4.jpeg" alt="4.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="5.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/6.jpeg" alt="6.jpeg">
      <img src="https://api.slingacademy.com/public/sample-photos/7.jpeg" alt="7.jpeg">
    </div>
  </div>
</div>