<mat-toolbar class="header-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="drawer" mode="side">
    <!--
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
      <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button-->
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="/" class="side-nav-items">Home</mat-list-item>
      <mat-list-item role="listitem" routerLink="/tailwind" class="side-nav-items">TailWind Classes</mat-list-item>
      <!--mat-list-item role="listitem">Item 3</mat-list-item-->
    </mat-list>

  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
