<div class="text-sm mx-auto p-3 mt-5">
  <!--div class="flex flex-col justify-center items-center p-16">
    <h1 class="text-3xl underline text-amber-700 mt-10">Hello world from Tailwind</h1>
    <div class="btn btn-primary mt-2">Lets learn something on Tailwind</div>
  </div-->
  <h1 class="text-xl">
      Coloring classes applied to text, background, underline styling,borders
  </h1>
  <p class="text-black-100 mt-2">Some basic text in black - text-black-100</p>
  <p class="text-blue-600 mt-2">Some basic text in blue - text-blue-600</p>
  <p class="text-red-600 mt-2">Some basic text in red with shade of 600 - text-red-600</p>
  <p class="bg-emerald-300 mt-2">Text in emarald background - bg-emerald-300</p>
  <p class="bg-[#427fab] mt-2">Text in emarald background - bg-[#427fab]</p>
  <p class="bg-[rgb(255,175,15,10)] mt-2">Text in emarald background - bg-emerald-300</p>
  <p class="underline decoration-yellow-300 mt-2">Text in underlined with a specific color - underline decoration-yellow-300</p>
  <div class="border border-orange-300 p-2 mt-2">
    Adding some border to the div of color grey - border-orange-300
  </div>
  <div class="outline outline-red-300 p-2 mt-2">
    Adding some outline to the div of color grey - outline-red-300
  </div>
  <div class="shadow-lg shadow-cyan-300 border border-cyan-300 mt-2">
    Adding shadow - shadow-lg shadow-cyan-300
  </div>
  <div class="mt-2">
    <input type="checkbox" class="accent-purple-500" checked>Accent colors shown with checkboxes
  </div>
</div>