
<!--mat-toolbar color="primary">
  <mat-nav-list class="list-horizontal">
    <mat-list-item>
      <a [routerLink]="['colors']" routerLinkActive="router-link-active" >Color Classes</a>
    </mat-list-item>
    <mat-list-item>
      <a>Spacing Classes</a>
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar-->
<div class="tailwind-components">
  <mat-list class="list-horizontal bg-[#9A0000]">
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="colorsCls" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Color</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="spacingCls" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Spacing</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="typography" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Typography</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="sizing" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Sizing</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="borders" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Borders</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="responsive" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Coumns-View</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="flexView" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Flex-View</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="gridView" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Grid-View</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="libComponents" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Custom-Components</a></mat-list-item>
    <mat-list-item><a class="text-gray-300 pt-2 pl-2" routerLink="smplWebPgs" routerLinkActive="underline decoration-2 decoration-orange-400 underline-offset-3">Sample-Web-Pages</a></mat-list-item>
  </mat-list>
</div>
<router-outlet></router-outlet>

