/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";

/* Fonts for the sample one web page*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* Fonts for the sample two web page*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


@theme {
  --font-primary: "Mulish","sans-serif";
  --font-webpg : "Titillium Web","sans-serif";
  --font-webpgsec : "Winky Rough","sans-serif";
  --font-josefin: "Josefin Sans","sans-serif";
  --font-alata: "Alata","sans-serif";
}

html, body { height: 100%; }
body { margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;}

/*standard class - cutomized*/
@layer base{
  h4{
    @apply text-lg font-bold text-slate-600;
  }
}
.header-class{
  @apply text-2xl font-bold mt-8 text-slate-600;
}
.sub-content-section{
  @apply text-lg w-full md:w-1/2 mx-auto text-yellow-600;
}
.button-container{
  @apply flex flex-col md:flex-row md:justify-center mt-8 space-y-2 md:space-y-0;
}

/*Hamburger icon*/
.hamburger{cursor: pointer;height: 24px;width: 24px;position: relative;transition: all 0.25s;
  .hamburger-top,.hamburger-middle,.hamburger-bottom{
    background-color: #fff;height: 2px;left: 0;position: absolute;transform: rotate(0);transition: all 0.5s;top: 0;width: 24px;
  }
  .hamburger-middle{transform: translateY(7px);}
  .hamburger-bottom{transform: translateY(14px);}
  &.open{
    transform: rotate(90deg);
    .hamburger-top{transform: rotate(45deg) translateY(6px) translateX(6px);}
    .hamburger-middle{display: none;}
    .hamburger-bottom{transform: rotate(-45deg) translateY(6px) translateX(-6px);}
  }
}