<div class="container mx-auto p-3 text-sm">
  <article class="mb-4">
    <h3>Lorem Ipsum</h3>
    <p>
      "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
      "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
    </p>
  </article>

  <h3 class="text-emerald-500 text-sm">Margin Classes m1 is approx (.25rem / 4px) margin</h3>
  <div class="border border-gray-700 p-2 text-sm">
    <div class="bg-slate-300 m-2 mt-1"> Checking a margin class-> m2 (.5rem / 8px) all around</div>
    <div class="bg-slate-300 ml-2 mt-1"> Checking a left margin  class-> ml-2</div>
    <div class="bg-slate-300 mr-2 mt-1"> Checking a right margin class-> mr-2</div>
    <div class="bg-slate-300 mt-2 mt-1"> Checking a top margin class-> mt-2</div>
    <div class="bg-slate-300 mb-2 mt-1"> Checking a bottom margin class-> mb-2</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-3">Padding Classes p1 is approx (.25rem / 4px) padding</h3>
  <div class="border border-gray-700 p-2 text-sm">
    <div class="bg-slate-300 p-2 mt-1"> Checking a padding class-> p2 (.5rem / 8px) all around</div>
    <div class="bg-slate-300 pl-2 mt-1"> Checking a left padding  class-> pl-2</div>
    <div class="bg-slate-300 pr-2 mt-1"> Checking a right padding class-> pr-2</div>
    <div class="bg-slate-300 pt-2 mt-1"> Checking a top padding class-> pt-2</div>
    <div class="bg-slate-300 pb-2 mt-1"> Checking a bottom padding class-> pb-2</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-3">Spacing Classes along X axis / horizontal spacing (space-x-4) (4 * .25rem / 4 * 4px)</h3>
  <div class="flex space-x-4">
    <div class="bg-slate-300 pl-2 pr-2">Item 1</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 2</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 3</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 4</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 5</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 6</div>
  </div>

  <h3 class="text-emerald-500 text-sm mt-3">Spacing Classes along Y axis / vertical spacing (space-y-1) (1 * .25rem / 1 * 4px)</h3>
  <div class="flex flex-col space-y-1">
    <div class="bg-slate-300 pl-2 pr-2">Item 1</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 2</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 3</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 4</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 5</div>
    <div class="bg-slate-300 pl-2 pr-2">Item 6</div>
  </div>
</div>
