<mat-list class="list-horizontal">
  <mat-list-item>
    <a class="bg-slate-200 p-2 mr-2" routerLinkActive="inline-block underline decoration-2 decoration-orange-400 underline-offset-4 text-blue-700 bg-slate-300" [routerLink]="['smplOne']">Sample One</a>
    <a class="bg-slate-200 p-2 mr-2" routerLinkActive="inline-block underline decoration-2 decoration-orange-400 underline-offset-4 text-blue-700 bg-slate-300" [routerLink]="['smplTwo']">Sample Two</a>
  </mat-list-item>
</mat-list>
<router-outlet></router-outlet>
