<div class="flex items-center justify-center h-screen bg-zinc-700">
  <!-- Card Design starts-->
  <div class="bg-zinc-800 p-2 mx-6 rounded-xl">
    <!-- Note: for the mobile display the container will use flex-col and for other devices flex-row -->
    <div class="flex flex-col md:flex-row rounded-l-xl">
      <!-- Image section -->
      <img src="https://api.slingacademy.com/public/sample-photos/5.jpeg" alt="WildLife Newsletter"
        class="object-fit rounded-xl md:rounded-r-none h-60 md:w-50"/>
      <!-- Context section -->
      <div class="p-2 md:p-4 md:border-1 md:h-60 md:border-gray-700 md:rounded-r-xl">
        <p class="text-slate-500 text-2xl">Protect Wildlife Today</p>
        <div class="text-mg text-slate-400 py-2">Get wildlife updates straight to your inbox.<br/>Get monthly newsletters packed with ways that you can help wildlife, and create a Wilder Future.<br/>We promise to protect your data in accordance with the Wildlife Trust Privacy Policy.
        </div>
        <div class="flex flex-col md:flex-row mt-4">
          <input type="text"
            placeholder="Enter your email id here..."
            class="border-2 border-gray-700 py-2 px-1 w-100 text-sm text-slate-400 placeholder:text-slate-600 focus:outline-none mb-1"/>
          <button class="w-100 md:ml-5 p-2 md:p-1 md:w-50 bg-lime-300 hover:bg-lime-500 hover:cursor-pointer border-1 rounded text-sm">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Card Design ends-->
</div>
